.plan{
background-color: $plan-bg;
padding-top: 120px;

display: flex;
align-items: center;
}

.plan__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 120px;
  margin-bottom: 120px;
}

.licenses-element__wrapper, .professional-licenses__wrapper, .free-licenses__wrapper {
  flex-basis: 33.333%;
}

.licenses-element__wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.licenses__title {
  font-size: 2.188rem;
  color: $dark;
    span {
      font-family: $fonts-bold;
    }
}

.licenses__text, .licenses__number > span, .promo-code {
  color: $ligth;
}

.licenses__text {
  line-height: 1.7;
  margin: 20px 0px;
  width: 95%;
}

#lic-number {
  width: 89px;
  height: 40px;
  box-shadow: 0px 2px 6px rgba(40, 43, 49, 0.08);
  border-radius: 4px;
  border: none;
  margin-bottom: 20px;
} 

.promo-code__input {
  width: 206px;
  height: 40px;
  box-shadow: 0px 2px 6px rgba(40, 43, 49, 0.08);
  border-radius: 4px;
  border: none;
  margin-right: 15px;
  margin-top: 5px;
}

.promo-code__btn {
  font-size: 0.875rem;
  background: linear-gradient(162.9deg, #7956EC 0%, #2FB9F8 100%);
  border-radius: 6px;
  width: 130px;
  height: 40px;
  color: $white;
  font-family: $fonts-bold;
  letter-spacing: 1px;
}

.professional-licenses__wrapper {
  z-index: 2;
  padding-left: 50px;
}

.professional-licenses__container {
  background: url('../img/bg.jpg') no-repeat center top / cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
}

.professional-licenses__title__wrapper {
  width: 100%;
  background: rgba(255, 255, 255, 0.07);
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px 1px 0px rgba(255, 255, 255, 0.3);
  margin-top: 50px;
  margin-bottom: 30px;
}

.professional__title {
  font-size: 0.688rem;
  text-transform: uppercase;
  font-family: $fonts-bold;
  letter-spacing: 2px;
  text-align: center;
  padding: 13px 0px;
}

.professional-licenses__cost {
  font-size: 3.75rem;
  text-align: center;
  margin-bottom: 19px;
}

.professional-licenses__item {
  font-size: 0.938rem;
  line-height: 1.7;
   span {
     margin-right: 14px;
     font-size: 1.1rem;
   }
}

.professional-licenses__list-items {
  margin-bottom: 30px;
  width: 70%;
}

.professional-licenses__btn {
  background: linear-gradient(168.69deg, #FF8E64 0%, #FFE641 100%);
  border-radius: 6px;
  width: 250px;
  height: 50px;
  color: $white;
  font-size: 1.063rem;
  font-family: $fonts-bold;
  margin-bottom: 60px;
}

.free-licenses__container {
  @extend .professional-licenses__container;
  background: $white;
  box-shadow: 0px 1px 3px rgba(32, 33, 39, 0.12);
  z-index: 1;
  transform: scale(1) translate(-10px,15px);
  width: 90%;
}

.free-licenses__title__wrapper {
  @extend .professional-licenses__title__wrapper;
  background: $plan-bg;
  box-shadow: 0px 1px 0px #E7E8EA, inset 0px 1px 0px #E7E8EA;
}

.free-licenses__title {
  @extend .professional__title;
    color: $ligth;
}

.free-licenses__cost {
  @extend .professional-licenses__cost;
    color: $dark;
    font-size: 2.5rem;
    margin-bottom: 25px;
}

.free-licenses__item {
  @extend .professional-licenses__item;
    color: $ligth;
}

.free-licenses__list-items {
  width: 70%;
  margin-bottom: 40px;
}

.free-licenses__btn {
  @extend .professional-licenses__btn;
    background: linear-gradient(167.99deg, #009FC5 0%, #3CECB0 100%);
}

