// Fonts

$fonts-normal: 'Nunito Sans Regular', sans-serif;
$fonts-bold: 'Nunito Sans Bold', sans-serif;

//Color

$dark: #282B31;
$ligth: #676C75;
$silver: #999EA8;
$red: #FF4876;
$white: #FFFFFF;
$plan-bg: #F8F9FA;
$social-media-color: #B9BDC3;
